# Project root
PROJECT_ROOT = "Project_root_directory_path"

# Dataset name
DATASET_NAME = "spam.csv"

# Output directory
MODEL_DIR = "model_dir"
Log_DIR = "logs"

# Model filename
MODEL_FILENAME = "model_spam.joblib"
LOG_NAME = "app.log"

# Training Config.
TARGET_COLUMN = "v1"
TEST_SIZE = 0.2
RANDOM_STATE = 42

API_URL = api_endpoint_url